p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-style: solid;
    border-width: thick;
    border-color: purple;
}
div{
    font-family:'Shadows Into Light', cursive; 
}