#bold {
    font-weight: bold;
}
#colors{
    font-size: 1.5em;
}
#blue{
    color: blue;
}
#red{
    color: red;
}
#magenta {
    color: magenta;
}
#green{
    color:green
} 
#blue2{
    color: blue;
}
#red2 {
    color: red;
}
    